In [16]:
from sklearn import datasets
import pandas as pd
import re

In [23]:
iris = datasets.load_iris(as_frame=True)
df = iris.frame
df['species'] = df.target.map(lambda x: iris.target_names[x])

In [24]:
col_names = [re.sub("[()]", "", col.replace(" ", "_"), ) for col in df.columns]
df.columns = col_names

In [25]:
df.head()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,target,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [26]:
print(iris.filename)
df.to_csv(f"../resources/data/{iris.filename}", index=False)

iris.csv